/* ---------- ⥥ ICON LIBRARY STYLES ⥥ ---------- */

body {
  background: gray;
}

.titre-page,
p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.poubelle_titre {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-icones {
  
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-icones p {
  font-size: 9px;
}

/* Conteneur de base */
.icon {
  width: 6em;
  height: 6em;
  fill: currentColor;
  vertical-align: middle;
}






/* Icônes spécifiques */
.icon-P_Blanc_plein {
  background: url("../icons/P_Blanc_plein.svg") no-repeat center;
  background-size: contain;
}

.icon-P_Noire_plein {
  background: url("../icons/P_Noire_plein.svg") no-repeat center;
  background-size: contain;
}

.icon-P_Tracé_Blanc {
  background: url("../icons/P_Tracé_Blanc.svg") no-repeat center;
  background-size: contain;
}

.icon-P_Tracé_Noir {
  background: url("../icons/P_Tracé_Noir.svg") no-repeat center;
  background-size: contain;
}







.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
