/* ---------- ⥥ ICON LIBRARY STYLES ⥥ ---------- */

body {
    background: gray;
}
/* Conteneur de base */
.icon {
  display: inline-block;
  width: 4em; /* Ajustable */
  height: 4em; /* Ajustable */
  fill: currentColor; /* Hérite de la couleur du texte */
  vertical-align: middle;
}

/* Icônes spécifiques */
.icon-P_Blanc_plein {
  background: url('../icons/P_Blanc_plein.svg') no-repeat center;
  background-size: contain;
}

.icon-P_Noire_plein {
  background: url('../icons/P_Noire_plein.svg') no-repeat center;
  background-size: contain;
}

.icon-P_Tracé_Blanc {
  background: url('../icons/P_Tracé_Blanc.svg') no-repeat center;
  background-size: contain;
}

.icon-P_Tracé_Noir {
  background: url('../icons/P_Tracé_Noir.svg') no-repeat center;
  background-size: contain;
}
