

/* ICONES CUBIC  */
.icon-ballon-cubic {
  background: url("../icons/ballon-cubic.svg") no-repeat center;
  background-size: contain;
}

.icon-bouche-cubic {
  background: url("../icons/bouche-cubic.svg") no-repeat center;
  background-size: contain;
}

.icon-camera-cubic {
  background: url("../icons/camera-cubic.svg") no-repeat center;
  background-size: contain;
}

.icon-coeur-cubic {
  background: url("../icons/coeur-cubic.svg") no-repeat center;
  background-size: contain;
}

.icon-cube-cubic {
  background: url("../icons/cube-cubic.svg") no-repeat center;
  background-size: contain;
}

.icon-dl-cubic {
  background: url("../icons/dl-cubic.svg") no-repeat center;
  background-size: contain;
}

.icon-fader-cubic {
  background: url("../icons/fader-cubic.svg") no-repeat center;
  background-size: contain;
}

.icon-fleche-cubic {
  background: url("../icons/fleche-cubic.svg") no-repeat center;
  background-size: contain;
}

.icon-multi-cubic {
  background: url("../icons/multi-cubic.svg") no-repeat center;
  background-size: contain;
}

.icon-perso-cubic {
  background: url("../icons/perso-cubic.svg") no-repeat center;
  background-size: contain;
}

.icon-photo-cubic {
  background: url("../icons/photo-cubic.svg") no-repeat center;
  background-size: contain;
}

.icon-play-cubic {
  background: url("../icons/play-cubic.svg") no-repeat center;
  background-size: contain;
}

.icon-play-fleche-cubic {
  background: url("../icons/play-fleche-cubic.svg") no-repeat center;
  background-size: contain;
}

.icon-sablier-cubic {
  background: url("../icons/sablier-cubic.svg") no-repeat center;
  background-size: contain;
}

/* ICONES UPLOAD  */
.icon-Upload-01 {
  background: url("../icons/Upload-01.svg") no-repeat center;
  background-size: contain;
}

.icon-Upload-02 {
  background: url("../icons/Upload-02.svg") no-repeat center;
  background-size: contain;
}

.icon-Upload-03 {
  background: url("../icons/Upload-03.svg") no-repeat center;
  background-size: contain;
}

.icon-Upload-04 {
  background: url("../icons/Upload-04.svg") no-repeat center;
  background-size: contain;
}

/* ICONES LOGO  */
.icon-logo-ahp-01 {
  background: url("../icons/logo-ahp-01.svg") no-repeat center;
  background-size: contain;
}

.icon-3Dwhite-logo-ahp {
  background: url("../icons/3Dwhite-logo-ahp.svg") no-repeat center;
  background-size: contain;
}

/* ICONES RESEAUX  */
.icon-github01 {
  background: url("../icons/github01.svg") no-repeat center;
  background-size: contain;
}

.icon-github02 {
  background: url("../icons/github02.svg") no-repeat center;
  background-size: contain;
}

/* ICONES POUBELLE  */
.icon-P_Blanc_plein {
  background: url("../icons/P_Blanc_plein.svg") no-repeat center;
  background-size: contain;
}

.icon-P_Noire_plein {
  background: url("../icons/P_Noire_plein.svg") no-repeat center;
  background-size: contain;
}

.icon-P_Tracé_Blanc {
  background: url("../icons/P_Tracé_Blanc.svg") no-repeat center;
  background-size: contain;
}

.icon-P_Tracé_Noir {
  background: url("../icons/P_Tracé_Noir.svg") no-repeat center;
  background-size: contain;
}

.icon-bin-line-open {
  background: url("../icons/bin-line-open.svg") no-repeat center;
  background-size: contain;
}

.icon-bin-line {
  background: url("../icons/bin-line.svg") no-repeat center;
  background-size: contain;
}

.icon-bin-plein-plein {
  background: url("../icons/bin-plein-plein.svg") no-repeat center;
  background-size: contain;
}

.icon-bin-plein {
  background: url("../icons/bin-plein.svg") no-repeat center;
  background-size: contain;
}

